.card {
	display: flex;
	width: 90%;
	margin: 0 auto;
	padding: 1rem;
	align-items: center;
	text-align: center;
	background-color: $mainColor;
	flex-direction: column;
}
.image {
	width: 90%;
}

/* Desktop design */
@include desktop {
	.card {
		width: 45%;
	}
	.image {
		width: 85%;
	}
}
